{
  "presets": [
    "react",
    "stage-1"
  ],
  "env": {
    "development": {
      "presets": [
        "latest",
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "babel-plugin-transform-builtin-extend", {
          "globals": ["Error", "Array"]
        }
      ]
    },
    "test": {
      "presets": [
        "latest"
      ]
    }
  }
}
